<%# ここではヘッダー部分と、ページローディングのアニメーションを表示しています %>
<%# まずはページローディングのアニメーションを表示するためのHTMLを記述します %>
<div class="pageLoading__00ff1"><%# ここに.fadeout_loading が入る %>
  <div><%# 装飾用のアニメーションpng置き場 %>
    <div class="pageLoading_center__00ff1"><%# 真ん中に表示するアニメーション絵 %></div>
    <div class="pageLoading_nowloading__00ff1"></div>
  </div>
</div>


<header>
  <h1>Fan Site Header</h1>
</header>
